body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

a {
    text-align: right;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
